body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-wrapper {
    padding-top: 5px;
}
  
.top-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
  
.masthead-account {
    list-style: none;
    display: flex;
    margin-top: 5px;
    font-size: 15px;
}

.account-item img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    filter: invert(23%) sepia(94%) saturate(7432%) hue-rotate(347deg) brightness(103%) contrast(101%);
}

.account-item {
    display: flex;
    align-items: center;
    color: black;
    margin-right: 15px;
    gap: 4px;
    text-decoration: none;
}

.account-item:hover span{
    color: #ff0e50;
}

.main-nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-nav-content {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding-left: 100px;
}

.main-nav-logo {
    margin-top: 30px;
    margin-right: 25px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    white-space: nowrap;
}

.nav-list li:first-child .nav-item {
    border-bottom: 4px solid #ff0e50;
}

.nav-item:hover {
    border-bottom: 4px solid #ff0e50;
}

.main-nav-search {
    align-self: flex-start;
    margin-left: auto;
}

.nav-toggle {
    display: none;
}

.hamburger-icon {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger-icon span {
    display: block;
    height: 3px;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
}

.global-footer {
    background-color: #2c0022;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
  
.footer-headings {
    margin-bottom: 15px;
    font-size: 15px;
    margin-top: 20px;
}
  
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-links li {
    margin-bottom: 15px;
}
  
.footer-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.footer-about {
  margin-right: 20px;
}

.footer-subscription,
.footer-advertising {
    margin-right:0px;
}

.footer-links li a:hover {
    color: #cec7ca;
}
  
.footer-slategrupu img {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 250px;
    height: auto;
}
  
.footer-slategrupu,
.footer-text {
    margin-top: 10px;
    margin-bottom: 20px;
}
  
.footer-social {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    list-style: none;
    max-width: 500px;
    margin-top: 5px;
}

.footer-social a {
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.footer-social a:hover {
    color: #cec7ca;
}

.footer-social a img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    padding: 2px;
    border-radius: 50%;
    background-color: #cfcbde ;
    box-sizing: border-box;
    display: inline-block;
    filter: invert(100%);
}
  
.footer-bottom {
    text-align: end;
    margin-right: 100px;
    margin-top: 50px;
    font-size: 15px;
    font: bold;
}

  @media (max-width: 768px) {
    .top-nav{
        display: none;
    }

    .hamburger-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 100;
        color: white;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
      }
    
      .footer-slategrupu {
        margin-bottom: 20px;
      }
}

.culture-section {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    padding-left: 100px;
}

.view-all{
    display: flex;
    justify-content: end;
    margin-right: 150px;
}

.culture-header h2 {
    color: grey;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 0;
    font-style: italic;
}

.culture-header h1 {
    font-size: 60px;
    color: #000;
    margin-top: 0;
    font-weight: 50px;
    margin-bottom: 0;
}

.culture-header h1:hover {
    color: #565555;
}

.culture-nav ul {
    list-style-type: none;
    padding: 0;
}

.culture-nav ul li {
    display: inline;
    margin-right: 20px;
}

.culture-nav ul li a {
    text-decoration: none;
    color: #770f5f;
    font-size: 15px;
    font-weight: bold;
}

.culture-nav ul li a:hover{
    color: #a46495;
}

.culture-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.view-all a {
    text-decoration: underline;
    color: #770f5f;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}

.view-all a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7px;
    width: 100%;
    background-color: #ff0e50;
}

.featured-article {
    flex: 2;
    position: relative;
}

.other-articles {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}

.featured-article img {
    width: 100%;
    height: auto;
}

.article-teaser {
    background-color: #ffffff;
    position: absolute;
    bottom: -150px;
    left: 0;
    padding: 20px;
    max-width: 500px;
    font-weight: bold;
}

.author-name {
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 0;
}

.article-title {
    color: #770f5f;
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-weight: bold; 
}

.article-excerpt {
    font-size: 16px;
    color: #333333;
}

.column_teaser {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-decoration: none;
    padding-right: 100px;
}

.teaser-headline {
    font-size: 14px;
    margin: 0;
    color: #000;
}

.teaser-author {
    font-size: 14px;
    color: #666;
}

.teaser-headline:hover{
   color: #565555;
}

hr {
    border: none;
    height: 2px;
    background-color: gray;
    margin: 20px auto;
    width: 90%;
}

.hover-image:hover {
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.featured-article-tech{
    flex: 1;
    position: relative;
}